@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(255, 255, 255);
    background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
}

.dark body {
    background: rgb(12, 12, 12);
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }
